.normal {
  background-color: rgb(216, 216, 168);
}

.fire {
  background-color: rgb(255, 192, 112);
}

.water {
  background-color: rgb(152, 184, 255);
}

.grass {
  background-color: rgb(176, 232, 120);
}

.electric {
  background-color: rgb(255, 248, 120);
}

.ice {
  background-color: rgb(200, 240, 240);
}

.fighting {
  background-color: rgb(240, 120, 112);
}

.poison {
  background-color: rgb(208, 128, 208);
}

.ground {
  background-color: rgb(248, 224, 144);
}

.flying {
  background-color: rgb(192, 184, 255);
}

.psychic {
  background-color: rgb(255, 144, 184);
}

.bug {
  background-color: rgb(200, 216, 88);
}

.rock {
  background-color: rgb(224, 200, 112);
}

.ghost {
  background-color: rgb(160, 136, 208);
}

.dragon {
  background-color: rgb(160, 104, 255);
}

.dark {
  background-color: rgb(160, 136, 112);
}

.steel {
  background-color: rgb(224, 224, 248);
}

.fairy {
  background-color: rgb(255, 203, 216);
}
