.normal {
  background-color: rgba(168, 168, 120, 0.4);
}

.fire {
  background-color: rgba(240, 128, 48, 0.4);
}

.water {
  background-color: rgba(104, 144, 240, 0.4);
}

.grass {
  background-color: rgba(120, 200, 80, 0.4);
}

.electric {
  background-color: rgba(248, 208, 48, 0.4);
}

.ice {
  background-color: rgba(152, 216, 216, 0.4);
}

.fighting {
  background-color: rgba(192, 48, 40, 0.4);
}

.poison {
  background-color: rgba(160, 64, 160, 0.4);
}

.ground {
  background-color: rgba(224, 192, 104, 0.4);
}

.flying {
  background-color: rgba(168, 144, 240, 0.4);
}

.psychic {
  background-color: rgba(248, 88, 136, 0.4);
}

.bug {
  background-color: rgba(168, 184, 32, 0.4);
}

.rock {
  background-color: rgba(184, 160, 56, 0.4);
}

.ghost {
  background-color: rgba(112, 88, 152, 0.4);
}

.dragon {
  background-color: rgba(112, 56, 248, 0.4);
}

.dark {
  background-color: rgba(112, 88, 72, 0.4);
}

.steel {
  background-color: rgba(184, 184, 208, 0.4);
}

.fairy {
  background-color: rgba(238, 153, 172, 0.4);
}
